# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env
.venv
env/
venv/

# Environment variables
.env*

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.pytest_cache/

# mypy cache
.mypy_cache/

# Coverage reports
htmlcov/
.coverage

# Distribution and build files
dist/
build/
*.egg-info/

# VSCode-specific files
*.code-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.swp

# SwissClim Evaluations specific
logs
*.sqsh
output
config/my_run.yaml
.vscode/settings.json
